header .inner{
    max-width: none;
    height: 100%;
    padding: 0 20px;
    display: block;
}

header .container__left,
header .container__right{
    float: none;
    display: block;
}

header .logo {
    padding: 12px 0;
}

header .main-menu{
    display: block;
    margin-top: 10px;
}

header .main-menu li{
    border-top: 1px solid lightgrey;
}

header .main-menu a{
    padding: 16px 0;
}

header .container__right{
    position: relative;
    padding: 10px 0 20px;
}    
/* ? right의 display:flex일 경우 ->order 속성을 사용할 수도 있다. order: 0,1,2,*/

header .login{
    display: flex;
    flex-direction: column;
}

header .login .btn{
    margin-top: 10px;
}

#search-form input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}

header .container__right .menu{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

/* 우선순위 잘 매기기_동일수준일때 제일 마지막성질로 뒤덮힘 */
header .toggle{
    display: none;   
}

header .toggle.on{
    display: block;
}

#toggle_btn{
    display: block;
} 

/* VISUAL */
.section--visual{
    background-image: url('../img/bg-small.jpg');
}
.section--visual .inner{
    display: block;
    max-width: none;
    padding: 80px 20px;
}

.section--visual .summary{
    text-align: center;
    margin-right: 0;
    margin-bottom: 50px;
}

.section--visual .summary__title{
    font-size: 35px;
}

.section--visual .summary__desc{
    font-size: 22px;
}

#sign-form{
    margin: 0 auto;
    width: auto;
    max-width: 500px;
}

/* feature */
.section--feature.summary{
    padding: 60px 20px 0 20px;
}

.feature--img .inner{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr); 
}

.feature--box{
    padding: 34 24px;
}

.feature--box img{
    padding: 14px 30% 24px;
}

.feature--box:nth-child(2){
    border-right: none;
}

/* whereis */
.map .inner{
    max-width: none;
    margin: auto 20px;
}

/* pricing */
.pricing .inner{
    margin: auto 20px;
}

.pricing__summary p{
    font-size: 20px;
}

/* footer */
.footer_logo{
    display: none;
}

footer .inner{
    margin: auto 20px;
}
